name: Build docker image

on:
  push:
  workflow_dispatch:
    inputs:
      rollup_client_ref_name:
        type: string
        description: 'rollup_client branch name to use for building the image'
        required: false
        default: 'main'
  
jobs:
  prepare_env:
    runs-on: ubuntu-22.04-8core-32gb-300
    env:
      OP_GETH_REF_NAME: "${{github.ref_name}}" 
      ROLLUP_CLIENT_REF_NAME: ${{github.rollup_client_ref_name || 'main'}} 
      
    steps:
      - name: 'Checkout rome-rollup-clients repository'
        uses: actions/checkout@main
        with:
          repository: rome-protocol/rome-rollup-clients
          path: rome-rollup-clients
          ref: ${{env.ROLLUP_CLIENT_REF_NAME}}
          token: ${{ secrets.GIT_ROLLUP_TOKEN }}
    
      - name: 'Checkout op-geth reposotory'
        uses: actions/checkout@master
        with:
          path: op-geth
          repository: rome-protocol/op-geth
          ref: ${{env.OP_GETH_REF_NAME}}
          token: ${{secrets.GIT_ROLLUP_TOKEN}}
      
      - name: 'Login to Docker Hub'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: 'Build op-geth image'
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          push: true
          file: rome-rollup-clients/op-geth/Dockerfile
          tags: romeprotocol/rollup-op-geth:${{env.OP_GETH_REF_NAME}}
          labels: romeprotocol/rollup-op-geth:${{env.OP_GETH_REF_NAME}}

      - name: 'Set latest tag'
        if: ${{env.ROLLUP_CLIENT_REF_NAME == 'main' && env.OP_GETH_REF_NAME == 'main'}}
        run: |
          docker pull romeprotocol/rollup-op-geth:${{env.OP_GETH_REF_NAME}}
          docker tag romeprotocol/rollup-op-geth:${{env.OP_GETH_REF_NAME}} romeprotocol/rollup-op-geth:latest
          docker push romeprotocol/rollup-op-geth:latest
    
  reusable-wf-tests:
    name: 'Trigger tests via reusable workflow'
    needs: prepare_env
    uses: rome-protocol/tests/.github/workflows/reusable_wf_tests.yml@master
    with:
      docker_image_tags: >-
        {
          "evm": "latest",
          "apps": "latest",
          "relayer": "latest",
          "geth": "${{ github.ref_name }}",
          "tests": "latest",
          "uniswap": "latest"
        }
      tests_list: 'evm,spl,state_comparison,uniswap_proxy,uniswap_op_geth'
    secrets: inherit
